


/deep/.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.card {
  /*margin: 10px;
  padding: 20px !important;
  margin-top:20px;*/
  box-shadow:none;
}

.mat-card2 {
  border-radius: 4px !important;
  padding: 3px !important;
  width: 249px !important;
  height: 64px !important;
}

.div-p5{
  margin-top:10px;
  margin-bottom:10px;
}

