<div class="div-login">
  <div class="inner1">
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)" [style.fontSize.px]="14">
      <mat-card class="example-card mat-elevation-z1">
        <div class="example-loading-shade" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
        </div>
        <div class="mat-card-header" style="text-align:center">
          <mat-card-title>Login</mat-card-title><br />
          <span class="mid-div">to continue to App</span>
        </div>

        <div style="margin-top:60px;" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
          <div fxFlex="100%">
            <mat-form-field appearance="outline">
              <mat-label>Enter your email</mat-label>
              <input type="text" autofocus matInput [(ngModel)]="credentials.username" name="username" maxlength="50" required>
            </mat-form-field>
          </div>
          <div *ngIf="invalidLogin" class="alert alert-danger">Couldn't find your account</div>
        </div><br /><br />
        <mat-card-actions align="end">
          <button mat-raised-button color="primary">Next</button>
        </mat-card-actions>

      </mat-card>
    </form>
  </div>
</div>
