<div [@simpleFadeAnimation]="'in'" class="inner">
  <div class="example-loading-shade"
       *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
  </div>
  <mat-card class="mat-card-for-table">
    <div class="mat-card-header mat-card-header-for-table">

      <mat-card-title>Class Teachers</mat-card-title>
      <span class="spacer"></span>
      <button mat-button color="primary" class="sm-icon" matTooltip="Add" (click)="openDialog()"><mat-icon class="add-icon">add_circle</mat-icon></button>
    </div>
    <table mat-table [dataSource]="classteachers1" style="width:100%;">
      <!-- Column -->
      <ng-container matColumnDef="classteacher">
        <th mat-header-cell *matHeaderCellDef> Teacher </th>
        <td mat-cell *matCellDef="let element"> {{element.staff.staffname }} </td>
      </ng-container>
      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef> From </th>
        <td mat-cell *matCellDef="let element"> {{element.from | date:'dd-MMM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef> To </th>
        <td mat-cell *matCellDef="let element"> {{element.to| date:'dd-MMM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef style="width:50px;"> Enabled</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle class="example-margin" color="primary" disabled [checked]="element.isactive" *ngIf="element.isactive"></mat-slide-toggle>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;" color="primary" [ngClass]="{'highlight': selectedRowIndex == row.id}"></tr>
    </table>
  </mat-card>
</div>
