<div [@simpleFadeAnimation]="'in'">
  <form class="form-signin" #loginForm="ngForm" [style.fontSize.px]="14">
    <mat-card class="inner">
      <div class="example-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
      </div>
      <div class="mat-card-header">
        <mat-card-title>Statistics</mat-card-title>
        <span class="spacer"></span>
        <!--<button type="button" mat-button color="primary" matTooltip="Select another student" (click)="selectAnotherStudent()"><mat-icon>more</mat-icon></button>-->
      </div>
      <mat-card-content>
        <div class="div-p5">
          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px"
            fxLayoutAlign="start">
            <div fxFlex="20%">
              <div class="stat blue">
                <div class="flex-stat">
                  <div class="visual">
                    <mat-icon>school</mat-icon>
                  </div>
                  <div class="details">
                    <div class="number">
                      {{dataCount.students}}
                    </div>
                    <div class="desc">
                      Students
                    </div>
                  </div>
                </div>
                <div class="more">
                  search
                </div>
              </div>
            </div>
            <div fxFlex="20%">
              <div class="stat green">
                <div class="flex-stat">
                  <div class="visual">
                    <mat-icon>multiline_chart</mat-icon>
                  </div>
                  <div class="details">
                    <div class="number">
                      {{ currencycode | currencySymbol  }} {{dataCount.collections| currency : ' '}}
                    </div>
                    <div class="desc">
                      Collections
                    </div>
                  </div>
                </div>
                <div class="more">
                  {{dataCount.month }}
                </div>
              </div>
            </div>
            <div fxFlex="20%">
              <div class="stat yellow">
                <div class="flex-stat">
                  <div class="visual">
                    <mat-icon>account_balance_wallet</mat-icon>
                  </div>
                  <div class="details">
                    <div class="number">
                      {{ currencycode | currencySymbol  }} {{dataCount.salaries| currency : ' '}}
                    </div>
                    <div class="desc">
                      Salary
                    </div>
                  </div>
                </div>
                <div class="more">
                  {{dataCount.month }}
                </div>
              </div>

            </div>
            <div fxFlex="20%">
              <div class="stat orange">
                <div class="flex-stat">
                  <div class="visual">
                    <mat-icon>pie_chart</mat-icon>
                  </div>
                  <div class="details">
                    <div class="number">
                      {{ currencycode | currencySymbol  }} {{dataCount.expenses| currency : ' '}}
                    </div>
                    <div class="desc">
                      Expenses
                    </div>
                  </div>
                </div>
                <div class="more">
                  {{dataCount.month }}
                </div>
              </div>
            </div>
            <div fxFlex="20%">
              <div class="stat purple">
                <div class="flex-stat">
                  <div class="visual">
                    <mat-icon>{{(dataCount.profit > 0) ? 'thumb_up_alt' : 'thumb_down_alt'}}</mat-icon>
                  </div>
                  <div class="details">
                    <div class="number">
                      {{ currencycode | currencySymbol  }} {{dataCount.profit| currency : ' '}}
                    </div>
                    <div class="desc">
                      Profit
                    </div>
                  </div>
                </div>
                <div class="more">
                  {{dataCount.month }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
    <div class="div-second">
      <mat-card>
        <div class="mat-card-header">
          <mat-card-title>Statistics Details</mat-card-title>
          <span class="spacer"></span>
        </div>
        <mat-card-content>
          <app-statschart></app-statschart>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>
