<div [@simpleFadeAnimation]="'in'">
  <mat-card class="mat-card-for-table">
    <div class="example-loading-shade" *ngIf="isLoading">
      <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
    </div>
    <div class="mat-card-header mat-card-header-for-table">
      <mat-card-title>Payment History</mat-card-title>
      <span class="spacer"></span>
    </div>

    <table mat-table [dataSource]="studentpayments1" style="width:100%; ">
      <!-- Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element" style="max-width:50px;"> {{element.description }} </td>
        <td mat-footer-cell *matFooterCellDef style="max-width:50px;"></td>
      </ng-container>
      <ng-container matColumnDef="mode">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.datecreated | date:'dd/MM/yyyy' }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="chtrno">
        <th mat-header-cell *matHeaderCellDef> Ch/Tr No </th>
        <td mat-cell *matCellDef="let element"> {{element.chtrno }} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef style="width:100px; text-align: right; padding-right: 0px;"> Amount
          ({{currencycode | currencySymbol}}) </th>
        <td mat-cell *matCellDef="let element" class="col-right-70"> {{element.amount | currency : ' '}} </td>
        <td mat-footer-cell *matFooterCellDef class="col-right-70">{{currencycode | currencySymbol}}
          {{getTotalCost() | currency : ' '}}
        </td>
      </ng-container>
      <ng-container matColumnDef="print">
        <th mat-header-cell *matHeaderCellDef class="center-50">Print</th>
        <td mat-cell *matCellDef="let element" class="center-60">
          <button type="button" mat-button color="primary" matTooltip="print" (click)="print(element.id)">
            <mat-icon class="mat-button-sm">print</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="center-50">Delete</th>
        <td mat-cell *matCellDef="let element" class="center-60">
          <button type="button" mat-button color="primary" (click)="Delete(element.id)">
            <mat-icon class="mat-button-sm">delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;" color="primary"
        [ngClass]="{'highlight': selectedRowIndex == row.id}"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns1"></tr>
    </table>
  </mat-card>
</div>
