<div [@simpleFadeAnimation]="'in'">  
  <mat-card>
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="Save(loginForm)" [style.fontSize.px]="14">
      <div class="example-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
      </div>
      <div class="mat-card-header">
        <button type="button" mat-button color="primary" matTooltip="Back" (click)="Back()"><mat-icon>arrow_back</mat-icon></button>
        <mat-card-title>Batch / Year / Session</mat-card-title>
        <span class="spacer"></span>
        <button mat-button color="primary" matTooltip="Save"><mat-icon>save</mat-icon></button>
      </div>
      <div class="div-p5" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
          <div fxFlex="25%">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Batch Name</mat-label>
              <input type="text" matInput name="fname" [(ngModel)]="batch.batch" maxlength="20" required>
            </mat-form-field>
          </div>
          <div fxFlex="25%">
            <mat-form-field appearance="outline" floatLabel="always" *ngIf="batchid <= 0">
              <mat-label>Start Date</mat-label>
              <input [min]="minDate" matInput readonly [matDatepicker]="picker" name="startdate" [(ngModel)]="batch.startdate" datetime="dd/MM/yyyy" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="25%">
            <mat-form-field appearance="outline" floatLabel="always" style="display:none;">
              <mat-label>End Date</mat-label>
              <input disabled="disabled" matInput readonly [matDatepicker]="picker1" name="enddate" [(ngModel)]="batch.enddate" datetime="dd/MM/yyyy">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="25%"></div>
          </div>
        </div>
    </form>
  </mat-card>
</div>
