<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="start">
  <div fxFlex="20%"></div>
  <div fxFlex="60%">
    <mat-card style="margin:15px;">
      <div class="mat-card-header">
        <mat-card-title>Subscription Expired</mat-card-title>
        <span class="spacer"></span>
      </div>
      <ul>
        <li>Subscription has expired!</li>
        <br />
        <li>Please go to <a [href]="applink" target="_blank">subscription</a> page or contact Administrator!</li>
        <br />
      </ul>
    </mat-card>
  </div><div fxFlex="20%"></div>
</div>
