.mat-card2 {
  border-radius: 4px !important;
  padding: 3px !important;
  width: 50px !important;
  height: 50px !important;
}

.col-right-100 {
  text-align: right;
  width: 100px;
  padding-right: 20px;
}
/deep/.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.editable {
  background-color: beige;
  height: 30px;
  padding-right:10px;
}
.div-right-100 {
  text-align: right;
  width: 100px;  
}
.description{
  font-size:14px !important;
}
