<div [@simpleFadeAnimation]="'in'" class="inner" *ngIf="staffid > 0">
  <div class="example-loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
  </div>
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="Save(loginForm)" [style.fontSize.px]="14">

    <div fxLayout="row" [fxLayout.sm]="printService.isPrinting ? 'row' : 'column'" [fxLayout.xs]="printService.isPrinting ? 'row' : 'column'" fxLayoutGap="15px"
         fxLayoutWrap fxLayoutAlign="start">
      <div fxFlex="12%">
        <mat-card class="example-card mat-card2">
          <div fxFlex="100%" class="inner">
            <div class="example-loading-shade"
                 *ngIf="isLoading1">
              <mat-spinner *ngIf="isLoading1" class="spinner"></mat-spinner>
            </div>
            <img [src]="staff.photo" width="70" height="70" />
          </div>
        </mat-card>
      </div>

      <div fxFlex="31%" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
        <div fxFlex="32%">
          <mat-label class="h-title">Code : </mat-label><mat-label>{{staff.code}}</mat-label>
        </div>
        <div fxFlex="32%">
          <mat-label class="h-title">Name : </mat-label><mat-label>{{staff.staffname}}</mat-label>
        </div>
        <div fxFlex="32%">
          <mat-label class="h-title">Aadhar : </mat-label><mat-label>{{staff.aadharno}}</mat-label>
        </div>

      </div>
      <div fxFlex="21%" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
        <div fxFlex="67%">
          <mat-label class="h-title">Address : </mat-label><mat-label>{{staff.address}}</mat-label>
        </div>
        <div fxFlex="33%">
          <mat-label class="h-title">Email : </mat-label><mat-label>{{staff.email}}</mat-label>
        </div>
      </div>
      <div fxFlex="18%" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
        <div fxFlex="32%">
          <mat-label class="h-title">Mobile : </mat-label><mat-label>{{ staff.mobile}}</mat-label>
        </div>
        <div fxFlex="32%">
          <mat-label class="h-title">Phone : </mat-label><mat-label>{{staff.phone}}</mat-label>
        </div>
        <div fxFlex="32%">
          <mat-label class="h-title">Birth Date : </mat-label><mat-label>{{staff.dob | date:'dd/MM/yyyy'}}</mat-label>
        </div>
      </div>
      <div fxFlex="18%" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
        <div fxFlex="32%">
          <mat-label class="h-title">Joining Date : </mat-label><mat-label>{{staff.doj | date:'dd/MM/yyyy'}}</mat-label>
        </div>
        <div fxFlex="32%">
          <mat-label class="h-title">Leaving Date : </mat-label><mat-label [class.red]="staff.dol != null">{{(staff.dol != null) ? (staff.dol | date:'dd/MM/yyyy') : 'NA'}}</mat-label>
        </div>
        <div fxFlex="32%">
          <mat-label class="h-title">Designation : </mat-label><mat-label>{{(staff.desig != null) ? staff.desig.designname : 'NA' }}</mat-label>
        </div>
      </div>


    </div>

  </form>
</div>
