
.example-card {
  border-radius: 0px !important;
  padding: 20px !important;
  padding-bottom: 1px !important;  
  min-height: 300px;
  margin:20px;
}

.spinner {
  width: 40px !important;
  height: 40px !important;
}

/deep/.mat-progress-spinner svg {
  width: 40px !important;
  height: 40px !important;
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 105;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  background-color: rgba(0,0,0,0.12);
}


/* Small table */
/deep/ tr.mat-footer-row, tr.mat-row {
  height: 35px !important;
}

/deep/ th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
  padding-right: 15px !important;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 34px;
  flex-shrink: 0;
  line-height: 33px;
  border-radius: 50%;
}
