<div [@simpleFadeAnimation]="'in'">

  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="Save(loginForm)" [style.fontSize.px]="14">
    <mat-card class="inner">
      <div class="example-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
      </div>
      <div class="mat-card-header">
        <button type="button" *ngIf="studentid > 0" mat-button color="primary" matTooltip="Back" (click)="Back()"><mat-icon>arrow_back</mat-icon></button>

        <mat-card-title *ngIf="studentid == 0">Search</mat-card-title>
        <mat-card-title *ngIf="studentid > 0">Student Demographic</mat-card-title>
        <span class="spacer"></span>
        <button type="button" mat-button color="primary" matTooltip="Edit" *ngIf="studentid > 0" (click)="edit()"><mat-icon>edit</mat-icon></button>

        <button type="button" mat-button color="primary" matTooltip="Select another student" *ngIf="studentid > 0" (click)="selectAnotherStudent()"><mat-icon>search</mat-icon></button>
      </div>
      <mat-card-content>
        <div class="div-p5">
          <div *ngIf="studentid == 0" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
            <div fxFlex="33%">
              <app-ucsearch (afterSelect)="onAfterSelect($event)"></app-ucsearch>
            </div>
          </div>
          <div *ngIf="studentid > 0">
            <app-ucstudent [studentid]="studentid"></app-ucstudent>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>

  <div *ngIf="studentid > 0 && !isLoading3">
    <div *ngIf="isadmitted">
      <div fxLayout="row" [fxLayout.sm]="printService.isPrinting ? 'row' : 'column'" [fxLayout.xs]="printService.isPrinting ? 'row' : 'column'" fxLayoutGap="15px"
           fxLayoutWrap fxLayoutAlign="start"  class="div-second">        
        <div fxFlex="50%">
          <app-attsummchart [studentid]="studentid" class="div-app-classteacher"></app-attsummchart>
          <div  class="div-second">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Fees and Payment Details
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-studentfees [studentid]="studentid" (afterUpdate)="onAfterFeesUpdate($event)" [allowdelete]="true" class="div-app-classteacher"></app-studentfees>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div fxFlex="50%">
          <app-paysummary [studentid]="studentid" [refresh]="reloadchild" class="div-app-classteacher"></app-paysummary>
          <div  class="div-second">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Fees and Payment Details
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-studentpayments [studentid]="studentid" [allowdelete]="true" [refresh]="reloadchild" class="div-app-classteacher"></app-studentpayments>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isadmitted"  class="div-second">
      <mat-card>
        <div class="mat-card-header">
          <mat-card-title>Admission status</mat-card-title>
          <span class="spacer"></span>
        </div>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
          <div fxFlex="100%">
            <mat-card-title style="padding:10px;">Student Not admitted yet!</mat-card-title>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

</div>
