
<form class="form-signin" #loginForm="ngForm" [style.fontSize.px]="14">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
    <div fxFlex="20%"></div>
    <div fxFlex="60%">
      <mat-card class="example-card mat-elevation-z1" *ngIf="checking">
        <div class="example-loading-shade" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
        </div>
        <mat-card-content align="center">
          <br />
          Configuring application... <br /><br />
          Please wait...<br />
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card1 mat-elevation-z1" *ngIf="notready">
        <div class="mat-card-header">
          <mat-card-title>Status</mat-card-title>
          <span class="spacer"></span>
        </div>
        <mat-card-content>
          <div class="div-p5" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
            Please be patient while your app is ready.<br />
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card1 mat-elevation-z1" *ngIf="invalid">
        <div class="mat-card-header">
          <mat-card-title>Invalid</mat-card-title>
          <span class="spacer"></span>
        </div>
        <mat-card-content>
          <div class="div-p5" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
            Invalid Response.<br />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="20%"></div>
  </div>
</form>

