.messagetext{
    width: 100%;
    padding: 10px;
    padding-bottom: 5px;
    background-color:ghostwhite;
}
.div-timesent{
    color: lightgray;
    font-size: 11px;
}
.div-remaining{
    color: lightgray;
    font-size: 12px;
    font-weight: 500;
}
.icon-small{
    font-size: 18px;
    vertical-align: middle;
}
.gray{
    color:lightgray;
}
.table-largerow tr.mat-footer-row, tr.mat-row {
    height: 56px;
}
.table-largerow .mat-icon{
    height: 18px;
}
.span-name{
    padding-bottom:5px;
}
.span-dec{
    font-size:18px;
}