

.mat-card2 {
  border-radius: 4px !important;
  padding: 3px !important;
  width: 50px !important;
  height: 50px !important;
}
/deep/.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}



.file-button {
  height: 10px;
  margin-top: 25px;
  width: 10px;  
}
/*.mat-icon.sm-icon{
  font-size:20px;
}*/

