<div [@simpleFadeAnimation]="'in'" class="inner">
  <div class="example-loading-shade"
       *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
  </div>
  <form class="form-signin" #loginForm="ngForm"  [style.fontSize.px]="14">
    <mat-card>
      <div class="mat-card-header">
        <mat-card-title>Classes</mat-card-title>
        <span class="spacer"></span>
      </div>
      <div class="div-p5" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
        <div fxFlex="24%">
          <mat-form-field appearance="outline">
            <mat-label>Classes</mat-label>
            <mat-select name="classid" [(ngModel)]="classid" (selectionChange)="load()" required>
              <mat-option *ngFor="let c of classes" [value]="c.id">
                {{c.standard}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="24%">
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput readonly [min]="minDate" [max]="maxDate" [matDatepicker]="picker" name="date1" [(ngModel)]="date1" datetime="dd/MM/yyyy" (dateChange)="load()" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-card>

    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="start">
      <div fxFlex="50%">

        <div  class="div-second" class="inner">
          <div class="example-loading-shade"
               *ngIf="isLoading1">
            <mat-spinner *ngIf="isLoading1" class="spinner"></mat-spinner>
          </div>

          <mat-card class="mat-card-for-table">
            <div class="mat-card-header mat-card-header-for-table">
              <mat-card-title>Attendance</mat-card-title>
              <span class="spacer"></span>
            </div>
            <table mat-table [dataSource]="students" class="mat-elevation-z1" style="width:100%;">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Student Name </th>
                <td mat-cell *matCellDef="let element"> {{element.fname + " " + element.mname + " " + element.lname}} </td>
              </ng-container>
              <ng-container matColumnDef="present">
                <th mat-header-cell *matHeaderCellDef style="width:50px;"> Present</th>
                <td mat-cell *matCellDef="let element">
                  <button type="button" mat-raised-button
                          [color]="element.tStudentAttendence.length > 0 ? (element.tStudentAttendence[0].ispresent == true ? 'primary' : '') : ''"
                          style="border-radius:50px; min-width: 20px;" (click)="Update(element)">
                    {{element.tStudentAttendence.length > 0 ? (element.tStudentAttendence[0].ispresent == true ? 'P' : 'A') : 'A' }}
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</div>
